<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Kuls</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <!-- <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'> -->

    <!-- Vendor CSS Files -->
    <link href="/kuls/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/kuls/icofont/icofont.min.css" rel="stylesheet">
    <link href="/kuls/remixicon/remixicon.css" rel="stylesheet">
    <link href="/kuls/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/kuls/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/kuls/venobox/venobox.css" rel="stylesheet">
    <!-- <link href="/kuls/aos/aos.css" rel="stylesheet"> -->

    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="/css/style.css">

</head>
    <body>
        <main id="main">
            <!-- ======= 인재채용 =======-->
            <section id="recruit">
                <div class="container">
                    <div class="section-title" data-aos="fade-up">
                        <h2>인재채용</h2>
                    </div>
                    <div class="row">
                        <table class="table table-bordered table-hover">
                            <thead class="table-primary">
                                <tr>
                                    <td>번호</td>
                                    <td>제목</td>
                                    <td>작성자</td>
                                    <td>글내용</td>
                                    <td>등록일</td>
                                    <td>수정일</td>
                                    <td>조회수</td>
                                </tr>
                            </thead>
                            <tbody>
                                <%
                                for(var i = (page * page_num) - page_num; i < (page * page_num); i++) {
                                if(i > length){
                                    i++;
                                }else{
                                    var data = rows[i]
                                %>
                                <tr>
                                    <td><%= data.idx %></td>
                                    <td><a href="/board/read/<%= data.idx %>"><%= data.title %></a></td>
                                    <td><%= data.name %></td>
                                    <td><%= data.content %></td>
                                    <td><%= data.createdAt %></td>
                                    <td><%= data.updatedAt %></td>
                                    <td><%= data.hit %></td>
                                </tr>
                                <% }
                                }
                                %>
                            </tbody>
                        </table>
                        <!-- <nav class="table_page ">
                            <ul class="justify-content-center">
                                <li>
                                    <%for(var j = 0; j < rows.length / page_num; j++){%>
                                        <li class="page-item"><a class="page-link" href="/board/page/<%= j + 1 %>"><%= j + 1 %></a></li>
                                    <% } %>
                                </li>
                                
                            </ul>
                        </nav> -->
                        <nav aria-label="Page navigation">
                            <ul class="pagination pg-blue justify-content-center">
                                <!-- <li class="page-item">
                                    <a class="page-link" tabindex="-1">Previous</a>
                                </li> -->
                                <!-- <%for(var j = 0; j < rows.length / page_num; j++){%> 
                                    <li class="page-item"><a class="page-link" href="/board/list/<%= j - 1 %>">Previous</a></li>
                                <% } %> -->
                                <%for(var j = 0; j < rows.length / page_num; j++){%> 
                                    <li class="page-item"><a class="page-link" href="/board/list/<%= j + 1 %>"><%= j + 1 %></a></li>
                                <% } %>
                                <!-- <li class="page-item">
                                    <a class="page-link">Next</a>
                                </li> -->
                            </ul>
                        </nav>
                    </div>
                
                </div>
            </section>
        </main>

    </body>

</html>

